/*
403734
f8f5de
69c4d0
*/

/*共通*/

body{
    margin:auto;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.title h1{
    color:#f8f5de;
}
.title h1 span{
    color:#403734;
}

    .title a{
        color:#69c4d0;
    }
    .title a:hover{
        color:#f8f5de;
        background:#403734;
    }
    
    .title a:active{
        background:#69c4d0;
    }
    .title a:visited{
        color:#69c4d0;
    }
    

h3{
    padding:5px 0px 5px 10px;
    border-left:5px #69c4d0 solid;
}

/*pc向け*/
@media(min-width:768px){
    .wrap{
        height:auto;
        width:60%;
        margin:20px auto;
        margin-left:320px;
        padding-right:20%;
    }   
    
    img{
        margin:10px;
        height:50%;
        width:50%;
    }
    
    #title{
        position: fixed;
        top: 20px;
        left:10px;
    }
    
    .title{
        padding:10px;
        width:90%;
        background:#f8f5de;
        border: 5px #403734 dotted;
    }

    .title h1{
        color:#000;
    }
    .title h1 span{
        color:#403734;
    }

    h2{
        padding:10px;
        width:100%;
        border: 2px #403734 solid;
        background:#403734;
        color:#69c4d0;
    }
    
    #back{
        position: fixed;
        bottom: 0;
        right:0;
    }
    .back{
        font-size:30px;
    }
}

/*スマホ向け*/
@media (max-width:767px) {    
    .wrap{
        height:auto;
        width:80%;
        margin:20px auto;
    }
    
    img{
    height:100%;
    width:100%;
    }
    
    .title{
        padding:5%;
        width:auto;
        background:#69c4d0;
        border: 5px #403734 dotted;
    }
    
    .title a{
        -webkit-tap-highlight-color: #f8f5de;
    }
    
    .title a, .title a:visited{
        color:#f8f5de;
    }
    
    h2{
        padding:5%;
        width:auto;
        border: 2px #403734 solid;
        background:#403734;
        color:#f8f5de;
    }
}