/*共通*/

body{
    margin:auto;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.title h1{
    color:#fff;
}
.title h1 span{
    color:#30499B;
}

h3{
    padding:5px 0px 5px 10px;
    border-left:5px #30499B solid;
}

/*pc向け*/
@media(min-width:768px){
    .wrap{
        height:auto;
        width:60%;
        margin:20px auto;
        margin-left:320px;
        padding-right:20%;
    }   
    
    img{
        margin:10px;
        height:50%;
        width:50%;
    }
    
    #title{
        position: fixed;
        top: 20px;
        left:10px;
    }
    
    .title{
        padding:10px;
        width:90%;
        background:#fff;
        border: 5px #30499B dotted;
    }
    .title a{
        color:#00c9e8;
    }
    .title a:hover{
        color:#fff;
        background:#30499B;
    }
    
    .title a:active{
        background:#00c9e8;
    }
    .title a:visited{
        color:#00c9e8;
    }
    
    .title h1{
        color:#000;
    }
    .title h1 span{
        color:#30499B;
    }

    h2{
        padding:10px;
        width:100%;
        border: 2px #30499B solid;
        background:#30499B;
        color:white;
    }
    
    #back{
        position: fixed;
        bottom: 0;
        right:0;
    }
    .back{
        font-size:30px;
    }
}

/*スマホ向け*/
@media (max-width:767px) {    
    .wrap{
        height:auto;
        width:80%;
        margin:20px auto;
    }
    
    img{
    height:100%;
    width:100%;
    }
    
    .title{
        padding:5%;
        width:auto;
        background:#00c9e8;
        border: 2px #30499B solid;
    }
    
    h2{
        padding:5%;
        width:auto;
        border: 2px #30499B solid;
        background:#30499B;
        color:white;
    }
}