/*共通*/

.wrap{
    height:auto;
    width:80%;
    margin:20px auto;
}

body{
    margin:auto;
}

.title h1{
    color:#fff;
}
.title h1 span{
    color:#30499B;
}

h3{
    padding:5px 0px 5px 10px;
    border-left:5px #30499B solid;
}

/*pc向け*/
@media(min-width:768px){
    .title{
        padding:10px;
        width:50%;
        background:#F0A32F;
        border: 2px #30499B solid;
    }
    
    .title h1{
        color:#fff;
    }
    .title h1 span{
        color:#30499B;
    }

    h2{
        padding:10px;
        width:50%;
        border: 2px #30499B solid;
        background:#30499B;
        color:white;
    }
}

/*スマホ向け*/
@media (max-width:767px) {
    .title{
        padding:10px;
        width:100%;
        background:#F0A32F;
        border: 2px #30499B solid;
    }
    
    h2{
        padding:10px;
        width:100%;
        border: 2px #30499B solid;
        background:#30499B;
        color:white;
    }
}